html {
  font-family: Merriweather, serif;
}

td, th {
  border: 1px solid #ccc;
  font-weight: bold;
}

.grey-box {
  background-color: #f2f2f2;
  border: 1px solid #666;
  border-radius: 8px;
  color: #333;
}

.red-box {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  border-radius: 8px;
  color: #991919;
}

.green-box {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  border-radius: 8px;
  color: #51603f;
}

.purple-box {
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  border-radius: 8px;
  color: #38448e;
}

tr:not(.headings) {
  height: 9.5em;
}
